# Can ignore specific files
.DS_Store
*.xcodeproj/*.mode1v3
*.xcodeproj/*.pbxuser

ld/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
*.moved-aside
DerivedData

# Use wildcards as well
#*~
#*.swp

# Can also ignore all directories and files in a directory.
#tmp/**/* 
